<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>
<body>

{{!-- navbar --}}
<div class="navfont">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">Medical Dashboard System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/complain">Complain Here</a>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>

    </div>
</nav>

</div>
{{!-- navbar end --}}


  <header class="jumbotron">
    
    <div class="container ">
      <div class="jumbotron-text text-center">
          <h1 class=" jumbotronText">Welcome to Medical Dashboard System</h1>
      </div>
    </div>

  </header>
  <div class="container">
        <h3>Introduction</h3>
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="intro">
                    Our project aims to computerize the entire process of Medical Dashboard. This system will prove very efficient time and cost wise in this Covid-19 pandemic. It provides a great flexibility to hospital staff and patients too. It also keeps  transparency between hospital staff and patients.
                </p>
                <p class="intro">
                    This system also proves helpful to the hospital staff as it saves them the hassle of manually entering the appointments on paper and assigning them in order. The staff can focus on patients who are already infected while focussing mainly on the new patients in hospital and their arrangements.
                </p>
            </div>
            <div class="col-12 col-md-6 ">
                <img class="img-fluid" src="/images/doctor.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6 ">
                <h3>Motivation</h3>
                    <ul class="intro">
                        <li>Manually recording hundreds of appointments daily is not efficient and can lead to human errors. Using a computerized system can eliminate these errors to a certain extent.</li>
                        <li>Provides transparency to the patients regarding the order and its status. </li>
                        <li>Reduces the workload of the hospital staff. </li>
                    </ul>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="/images/doctor2.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Objectives</h3>
                <ul class="intro">
                    <li>The system aims to keep all data transparent while ensuring that unauthorized users cannot gain certain privileges. </li>
                    <li>The system should be able to handle the appointments daily with minimal human intervention.</li>
                    <li>Databases should be kept updated and accurate. </li>
                    <li>Data should be presented in a clear and readable format. </li>
                    <li>Scheduling the services of specialized doctors and emergencies properly so that facilities provided by hospitals are fully utilized in an effective and efficient manner.</li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="/images/doctor3.jpg" alt="">
            </div>
        </div>
    </div>

    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
</body>
</html>